@layer lol {
	.breadcrumbs {
		display: flex;
		gap: 0.25rem;
	}

	.item {
		display: flex;
		align-items: center;
	}

	.link {
		font-family: var(--lol-font-family-beaufort);
		color: var(--lol-color-gold-300);
		position: relative;
		font-size: var(--lol-font-size-sm);
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		padding: 0 1rem;

		&[data-hovered] {
			color: var(--lol-color-gold-100);
		}
	}

	.divider {
		height: 11px;
	}
}
