@layer lol {
	.button {
		border-radius: 0px;
		border: 2px solid transparent;
		outline: none;
		transition: all;
		transition-duration: 0.3s;

		font-family: var(--lol-font-family-beaufort);
		color: var(--lol-color-gold-300);
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		line-height: 1;

		display: inline-flex;

		justify-content: center;
		align-items: center;

		background: var(--lol-button-background-gradient) padding-box,
			var(--lol-button-border-gradient) border-box;

		&.small {
			font-size: var(--lol-font-size-sm);
			min-height: var(--lol-form-height-small);
		}

		&.medium {
			font-size: var(--lol-font-size-base);
			min-height: var(--lol-form-height-medium);
		}

		&.large {
			font-size: var(--lol-font-size-base);
			min-height: var(--lol-form-height-large);
		}
	}


	.primary,
	.secondary,
	.hextech,
	.dimmed {

		&:not(.square, .round) {

			&.small {
				padding: 0 0.5rem;
			}

			&.medium {
				padding: 0 1rem;
			}

			&.large {
				padding: 0 1rem;
			}

		}
	}


	.text {

		&.round,
		&.square {
			&.hover {
				--lol-button-background-gradient: var(--lol-gradient-grey-300);
				--lol-button-border-gradient: var(--lol-gradient-transparent);
			}
		}

		&.round,
		&.square,
		&.normal {
			position: relative;

			&::after {
				position: absolute;
				top: -0.5rem;
				left: -0.5rem;
				bottom: -0.5rem;
				right: -0.5rem;
				content: '';
			}
		}
	}

	.hover {
		color: var(--lol-color-gold-100);
	}

	.press {
		color: var(--lol-color-grey-150);
	}

	.disabled {
		color: var(--lol-color-grey-150);
		cursor: default;
	}

	.hextech {
		color: var(--lol-color-blue-100);
		--lol-button-border-gradient: var(--lol-gradient-hextech);
		--lol-button-background-gradient: var(--lol-gradient-grey-300);

		&.hover {
			color: var(--lol-color-blue-100);
			--lol-button-border-gradient: var(--lol-gradient-hextech-hover);
		}

		&.press {
			color: var(--lol-color-blue-400);
			--lol-button-border-gradient: var(--lol-gradient-hextech-press);
		}

		&.disabled {
			color: var(--lol-color-grey-150);
			--lol-button-border-gradient: var(--lol-gradient-disabled);
		}
	}

	.dimmed {
		--lol-button-background-gradient: var(--lol-gradient-hextech-black);
		--lol-button-border-gradient: var(--lol-gradient-grey-300);

		&.selected {
			--lol-button-border-gradient: var(--lol-gradient-gold);
		}
	}

	.primary {
		--lol-button-border-gradient: var(--lol-gradient-gold);
		--lol-button-background-gradient: linear-gradient(to top, var(--lol-color-gold-600), var(--lol-color-gold-600), var(--lol-color-gold-700));

		&.hover {
			--lol-button-background-gradient: linear-gradient(to top, var(--lol-color-gold-600), var(--lol-color-gold-600), var(--lol-color-gold-500));
		}

		&.press {
			--lol-button-background-gradient: linear-gradient(to top, var(--lol-color-gold-600), var(--lol-color-gold-700), var(--lol-color-gold-700));
		}
	}


	.secondary {
		--lol-button-border-gradient: var(--lol-gradient-gold);
		--lol-button-background-gradient: var(--lol-gradient-grey-300);
	}

	.primary.hover,
	.secondary.hover,
	.dimmed.hover {
		--lol-button-border-gradient: var(--lol-gradient-gold-hover);
	}


	.primary.press,
	.secondary.press,
	.dimmed.press {
		--lol-button-border-gradient: var(--lol-gradient-gold-press);
	}


	.primary.disabled,
	.secondary.disabled,
	.dimmed.disabled {
		--lol-button-border-gradient: var(--lol-gradient-disabled);
	}

	.primary.focusVisible,
	.secondary.focusVisible {
		outline-style: solid;
		outline-offset: 2px;
		outline-color: var(--lol-color-gold-400);
	}

	.round {
		border-radius: 9999px;
	}

	.round,
	.square {
		aspect-ratio: 1/1;
		padding: 0px;
		font-weight: 900;
	}

	.thin {
		border-width: 1px;
	}

	.selected {
		--lol-button-background-gradient: var(--lol-gradient-hextech);
		box-shadow: inset 0 2px 4px 0 var(--lol-color-grey-300);
		color: var(--lol-color-blue-100);
	}
}