@layer lol {
	.tooltip {
		padding: 2px;
		box-shadow: 0 2px 4px 0 var(--lol-color-grey-300);

		border: 2px solid transparent;
		background: var(--lol-button-background-gradient) padding-box,
			var(--lol-button-border-gradient) border-box;
		--lol-button-border-gradient: var(--lol-gradient-gold-press);
		--lol-button-background-gradient: var(--lol-gradient-grey-300);

		.top {
			margin-bottom: 0.5rem;
		}

		.bottom {
			margin-top: 0.5rem;
		}
	}

	.arrowBorder {
		fill: var(--lol-color-gold-600);
		position: absolute;
		display: block;
		height: 20px;
		width: 20px;

		&.top {
			transform: translateY(-0px) translateX(-4px);
		}

		&.bottom {
			transform: translateY(-4px) rotate(180deg) translateX(4px);
			fill: var(--lol-color-gold-500);
		}

		&.left {
			transform: translateY(-4px) translateX(0px) rotate(-90deg);
		}

		&.right {
			transform: translateY(-4px) translateX(-4px) rotate(90deg);
		}
	}

	.arrow {
		fill: var(--lol-color-grey-300);
		display: block;
		height: 16px;
		width: 16px;

		&.top {
			transform: translateY(0px) translateX(-2px);
		}

		&.bottom {
			transform: translateY(-0px) translateX(-2px) rotate(180deg);
		}

		&.left {
			transform: translateY(-2px) translateX(0px) rotate(-90deg);
		}

		&.right {
			transform: translateY(-2px) translateX(0px) rotate(90deg);
		}
	}
}