:host(.flat-dropdown-type) .ui-dropdown-option {
  font-family: var(--font-display);
}
:host(.flat-dropdown-type) .ui-dropdown-option {
  -webkit-user-select: none;
}
:host(.flat-dropdown-type) .ui-dropdown-option {
  font-kerning: normal;
  -webkit-font-feature-settings: "kern" 1;
  -webkit-font-smoothing: antialiased;
}
:host(.flat-dropdown-type) .ui-dropdown-option {
  text-transform: uppercase;
}
:host(.flat-dropdown-type) .ui-dropdown-option:lang(ko-kr),
:host(.flat-dropdown-type) .ui-dropdown-option:lang(ja-jp),
:host(.flat-dropdown-type) .ui-dropdown-option:lang(tr-tr),
:host(.flat-dropdown-type) .ui-dropdown-option:lang(el-gr),
:host(.flat-dropdown-type) .ui-dropdown-option:lang(th-th),
:host(.flat-dropdown-type) .ui-dropdown-option:lang(zh-tw) {
  text-transform: none;
}
:host(.flat-dropdown-type) .ui-dropdown-option {
  text-transform: none;
}
:host(.flat-dropdown-type) .ui-dropdown-option {
  color: #f0e6d2;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.075em;
}
:host(.flat-dropdown-type) .ui-dropdown-option:lang(ar-ae) {
  letter-spacing: 0;
}
:host(.flat-dropdown-type) .ui-dropdown-option {
  letter-spacing: 0.0375em;
}
:host(.flat-dropdown-type) .ui-dropdown-option:lang(ar-ae) {
  letter-spacing: 0;
}
:host {
  --dropdown-option-flat-height: 40px;
  --dropdown-option-flat-font-weight: 700;
  --dropdown-option-flat-overflow: visible;
  --dropdown-option-flat-text-overflow: clip;
  --dropdown-option-flat-white-space: inherit;
  --dropdown-option-direction-rtl: rtl;
  --dropdown-option-framed-line-height: 30px;
  --dropdown-option-framed-white-space: nowrap;
  --dropdown-option-framed-overflow-wrap: unset;
}
:host(.flat-dropdown-type) .ui-dropdown-option {
  height: var(--dropdown-option-flat-height);
  font-weight: var(--dropdown-option-flat-font-weight);
  overflow: var(--dropdown-option-flat-overflow);
  text-overflow: var(--dropdown-option-flat-text-overflow);
  white-space: var(--dropdown-option-flat-white-space);
  color: #cdbe91;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  border-bottom: thin solid #1e2328;
  padding: 0 10px;
}
:host(.flat-dropdown-type) .ui-dropdown-option:lang(ar-ae) {
  padding: 0 10px 0 30px;
}
:host(.flat-dropdown-type) .ui-dropdown-option.ui-dropdown-option-disabled {
  color: #888;
  cursor: default;
}
:host(.flat-dropdown-type)
  .ui-dropdown-option.ui-dropdown-option-disabled:hover {
  color: #888;
  background-color: rgba(30, 35, 40, 0);
}
:host(.flat-dropdown-type) .ui-dropdown-option.ui-dropdown-option-unselectable {
  border-bottom: none;
}
:host(.flat-dropdown-type)
  .ui-dropdown-option.ui-dropdown-option-selected::after {
  background: url(/fe/lol-uikit/dropdown-check.png) center no-repeat;
  width: 14px;
  height: 11px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  content: "";
}
:host(.flat-dropdown-type)
  .ui-dropdown-option.ui-dropdown-option-selected:lang(ar-ae)::after {
  right: auto;
  left: 10px;
}
:host(.flat-dropdown-type) .ui-dropdown-option:hover {
  color: #f0e6d2;
  background-color: #1e2328;
}
:host(.flat-dropdown-type) .ui-dropdown-option:active {
  color: #463714;
  background-color: rgba(30, 35, 40, 0.5);
}
:host(.framed-dropdown-type) .ui-dropdown-option {
  align-items: center;
  border-top: thin solid #1f2123;
  color: #cdbe91;
  cursor: pointer;
  display: block;
  min-height: 30px;
  line-height: var(--dropdown-option-framed-line-height);
  margin: 0;
  overflow: hidden;
  padding: 2px 9px 2px 7px;
  position: relative;
  text-overflow: ellipsis;
  white-space: var(--dropdown-option-framed-white-space);
  overflow-wrap: var(--dropdown-option-framed-overflow-wrap);
}
:host(.framed-dropdown-type) .ui-dropdown-option:lang(ar-ae) {
  direction: var(--dropdown-option-direction-rtl);
}
:host(.framed-dropdown-type) .ui-dropdown-option.ui-dropdown-option-disabled {
  color: #888;
  cursor: default;
}
:host(.framed-dropdown-type)
  .ui-dropdown-option.ui-dropdown-option-disabled:hover {
  color: #888;
  background-color: #1e232800;
}
:host(.framed-dropdown-type) .ui-dropdown-option.ui-dropdown-option-selected {
  padding-right: 31px;
}
:host(.framed-dropdown-type)
  .ui-dropdown-option.ui-dropdown-option-selected:lang(ar-ae) {
  padding-right: 7px;
  padding-left: 31px;
}
:host(.framed-dropdown-type)
  .ui-dropdown-option.ui-dropdown-option-selected::after {
  background: url(/fe/lol-uikit/dropdown-check.png) center no-repeat;
  width: 14px;
  height: 11px;
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translate(0, -50%);
  content: "";
}
:host(.framed-dropdown-type)
  .ui-dropdown-option.ui-dropdown-option-selected:lang(ar-ae)::after {
  right: auto;
  left: 13px;
}
:host(.framed-dropdown-type) .ui-dropdown-option:hover {
  color: #f0e6d2;
  background-color: #1e2328;
}
:host(.framed-dropdown-type) .ui-dropdown-option:active {
  color: #463714;
  background-color: #1e232880;
}
