@layer lol {
	.checkbox {
		font-family: var(--lol-font-family-spiegel);
		color: var(--lol-color-grey-100);
		display: flex;
		cursor: pointer;
		align-items: center;
		gap: 0.25rem;
		font-size: 0.75rem;
		letter-spacing: 0.1em;

		&[data-hovered] {
			color: var(--lol-color-gold-100);
		}

		&[data-disabled] {
			filter: brightness(0.5);
			cursor: default;
		}
	}

	.icon {
		width: 0.875rem;
		height: 0.875rem;
	}
}
