@keyframes hoverTextShadow {
  0% {
    text-shadow: 0 0 4px rgba(240, 230, 216, 1);
  }
  50% {
    text-shadow: 0 0 4px rgba(240, 230, 216, 0.5);
  }
  100% {
    text-shadow: 0 0 4px rgba(240, 230, 216, 0);
  }
}

@keyframes hoverGlow {
  0% {
    box-shadow: 0px 0px 5px 4px rgba(240, 230, 216, 0.5),
      0px 0px 2px 1px rgba(240, 230, 216, 0.5) inset;
  }
  50% {
    box-shadow: 0px 0px 5px 4px rgba(240, 230, 216, 0.3),
      0px 0px 2px 1px rgba(240, 230, 216, 0.3) inset;
  }
  100% {
    box-shadow: 0px 0px 5px 4px rgba(240, 230, 216, 0),
      0px 0px 2px 1px rgba(240, 230, 216, 0) inset;
  }
}

@keyframes clickFlare {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

@keyframes clickScale {
  from {
    transform: scale(0.94);
  }

  to {
    transform: scale(1);
  }
}

@keyframes clickSheen {
  from {
    transform: translateY(-100%) rotate(0deg);
  }
  10% {
    transform: translateY(-80%) rotate(-5deg);
  }
  to {
    transform: translateY(100%) rotate(0deg);
  }
}
